
/* COLORS */
/* 
#EEEEEE
#686D76
#373A40
#DC5F00
*/


* {
    font-family:'Courier New', Courier, monospace;
}

.navbar {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    background-color: #373A40;
    padding: 10px 20px;
    color: #DC5F00;
}

.about-blurb {
    width: 60%;
    margin: 20px auto;
    font-size: 1.2em;
    line-height: 1.6;
    color: #373A40;
}

.navbar-brand {
    color: #DC5F00;
}

.card-body {
    background-color: #686D76;
    
}   

.btn {
    background-color: #DC5F00;
    color: #373A40;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    &:hover {
        background-color: #373A40;
        color: #DC5F00;
    }
}

.footer {
    background-color: #373A40;
    color: #DC5F00;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}

.btn-danger {
    background-color: red;
    color: #373A40;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

html, body {
    background-color: #EEEEEE;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.profile-img {
    width: 45%;
    height: 25%;
    border-radius: 50%;
    object-fit: cover;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
}

.header-banner {
    background-color: #373A40;
    color: #DC5F00;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30px;
    font-size: 2.5em;
    font-weight: bold;
}

#project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 10px;
    gap: 20px;
    width: 80%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
}